    
.dark{
    background: rgb(4, 24, 27);
}

.dark h1{
    color: white;
}

.dark .descripcion{
    color: rgb(12, 11, 11);
}
.dark #modo{
    color: rgb(14, 13, 13);
}
.dark .card__perfil{
    background: rgb(16, 43, 51);
}
.dark p{
    color: rgb(211, 211, 211);
}
.dark h2{
    color: rgb(241, 233, 233);
}
.dark .enlace{
    background: rgb(13, 84, 117);
}
.dark .card__perfil:hover{
    border: solid green 2px;
}